
<% provide(:title, "ユーザー編集") %>
<div class="user_edit_image">
  <div class="container">
    <h1>ユーザー編集</h1>
    <!--エラーメッセージ-->
    <%= render "shared/error_messages", obj: @user %>
    <%= render partial: 'form' %>
  </div>
</div>
