<% provide(:title, "エラーページ") %>
<div class="error_404_image">
  <h1>お探しのページは見つかりません。</h1>
  <p>編集や削除をした場合は権限をお確かめください。<p>

  <img src="/images/error_icon_404.jpg">

  <div class="error_404_content">
    <p>ワシはヒゲメガネじゃ!ワシを見られるとは運がいい…</p>
    <p>しかし誰にもワシの出し方を教えるなよ?価値が下がるからの。</p>
  </div>
</div>
