
<%= content_for(:html_title) {"宇宙掲示板 ホーム"} %>
<div class="homes_top">
  <div class="container">
    <h1 class="homes_top_text">宇宙掲示板へようこそ</h1>

    <div class="posted_function_about">
      <h2>宇宙掲示板とは?</h2>
      <p>宇宙掲示板とはその名の通り、背景が宇宙であり普通の掲示板よりリッチな掲示板となっています。</p>
      <p>各画面で背景画像が違っている所も見所です。掲示板ではお好きなことを投稿できるフリーな掲示板となっています。</p>
    </div>

    <div class="how_to_use">
      <h2>使い方</h2>
      <p>1 初めての方は、新規登録画面より新規登録を行ってください。</p>
      <p>2 新規登録後は、ログイン画面よりメールアドレス、パスワードを使ってログインしてください。</p>
      <p>3 ログイン後は掲示板でお好きなことを投稿できます。(他人の投稿は、編集、削除ができません。)</p>
      <p>4 ログアウトボタンを押すとこのホーム画面に戻ります。</p>
    </div>

    <div class="new_function">
      <h2>新機能開発について</h2>
      <p>宇宙掲示板は、現在掲示板機能しかありませんが、今後新機能を追加する予定です。</p>
      <p>そこでこんな機能があったら便利とかこんな機能が欲しい思う方は遠慮なく掲示板に書き込んでください。</p>
      <p>皆様からのアイデアお待ちしております。</p>
    </div>
  </div>
</div>

<footer>
  <p>&copy; 2019 T-Yuma</p>
</footer>
