// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_edit{
  background-image: url("/images/post_edit_image.jpg");
  height: 100vh;
  background-size: cover;
  color: aqua;
  text-shadow: 3px 3px 3px #FF3399	;
}

.posted_function_image{
  background-image: url("/images/posted_function.jpg");
  color:white;
}

.posted_function_title{
  text-align: center;
  padding-bottom: 20px;
  text-shadow: 3px 3px 3px pink;
  color:blue;

}

.posted_function{
  width:900px;
  margin: 0 auto;
}


.posted_user_info{
  text-align: left;
  padding: 20px 0px;
  font-size: 22px;
  text-shadow: 3px 3px 3px blue;
  color:orange;
}

.post_content{
  text-align: left;
  font-size: 20px;
  text-shadow: 3px 3px 3px green;
  color:yellow;
}

.paginate{
  width:900px;
  margin: 0 auto;
  padding-top:30px;
  padding-bottom:50px;
}

.post_show_image{
  background-image: url("/images/post_show.jpg");
  background-size: cover;
  height: 100vh;
  color: fuchsia;
  text-shadow: 3px 3px 3px navy;
}

.post_show_text{
  color: fuchsia;
  text-shadow: 3px 3px 3px navy;
}
