// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_image{
  background-image: url("/images/login_image.jpg");
  height:100vh;
  background-size: cover;
  color:#FFFFDD;
  text-shadow: 3px 3px 3px #00CC00;
}
